*.compileOptions
*.dll
*.exe
*.DotSettings
*.pdb
*.zip
*.log
*.user
bin/
obj/
obj-2008/
.vs/
.svn/
nuget/
*.suo
*.useforbuildandremove
PublishProfiles
/src/VisualStudioStarter/Properties/launchSettings.json
